{% load static %}    
<section id="faqs"> 
 <div class="faq-container">
    <div class="faq-content">
        <h2>Frequently Asked Questions</h2>

        <div class="faq-item">
            <div class="faq-question">01. What courses do you offer? <span class="icon">+</span></div>
            <div class="faq-answer">We offer courses like:-
                <div>- Artificial Intelligence (AI)</div>
                <div>- Data Science</div>
                <div>- Data Analytics</div>
                <div>- Full Stack Development (Python/JAVA)</div>
                <div>- Digital Marketing</div>
                <div>- Software Testing</div>
                <div>- Cloud Computing</div>
                <div>- Stock Market Trading</div>
                <div>- Excel (VBA)</div>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">02. Who can enroll in these courses? <span class="icon">+</span></div>
            <div class="faq-answer">Beginners, Working Professionals and Students looking to upskill or switch thier
                careers because Our Courses are designed in such way which everyone will Understand. No prior
                experience is required for most courses.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">03. What is the duration of the courses? <span class="icon">+</span>
            </div>
            <div class="faq-answer">Course duration varies depending on the program:
                <div>- Short-term courses: 3-4 months</div>
                <div>- Advanced certification courses: 6-7 months</div>
                <div>- Comprehensive programs: 8-9 months</div>
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">04. Do you provide placement assistance? <span class="icon">+</span></div>
            <div class="faq-answer">Yes, we provide placement assistance, including resume building, interview
                preparation, and job referrals to Partner Companies, Recruiters and own Networks
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">05. Do you offer demo classes?
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">Yes, we provide free demo classes to help students understand the course
                structure and teaching methodology before enrolling.
            </div>

        </div>
        <div class="faq-item">
            <div class="faq-question">06. What are the course fees?
                <span class="icon">+</span>
            </div>
            <div class="faq-answer">Fees vary based on the course and mode of learning. For more information, please
                contact our support team.
            </div>
        </div>
        <div id="more-faq" class="hidden">
            <div class="faq-item">
                <div class="faq-question">07. Are the courses available online or offline?
                    <span class="icon">+</span>
                </div>
                <div class="faq-answer">Yes, We offer both online and offline classes, allowing flexibility for
                    students based on their preferences and schedules.

                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">08. Will I receive a certification upon completion? <span
                        class="icon">+</span></div>
                <div class="faq-answer">Yes, upon successful completion of the course, you will receive a recognized
                    certification that can enhance your career prospects.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">09.What is the mode of payment?
                    <span class="icon">+</span>
                </div>
                <div class="faq-answer">We accept payments via Cash, UPI, and EMI options for selected courses.

                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">10. Do you provide study materials?<span class="icon">+</span></div>
                <div class="faq-answer">Yes, we provide comprehensive study materials like:- PPT’s, PDF, SOFT COPIES
                    and hands-on assignments to enhance learning.
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">11. What if I miss a class?
                    <span class="icon">+</span>
                </div>
                <div class="faq-answer">If you Enroll for one course you are Flexible to sit in Multiple Batches of
                    the same course
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-question">12.How can I contact support?
                    <span class="icon">+</span>
                </div>
                <div class="faq-answer">
                    <div>12 You can reach our support team via E-mail:- zeetechacademy55@gmail.com,</div>
                    <div>Phone no.:- +91 9987651839or visit our institute for any queries.</div>
                </div>
            </div>
        </div>

        <div id="show-more">Show More FAQ <span><i class="fa-solid fa-caret-down"></i></span></div>
    </div>

    <div class="faq-image">
        <img src="{% static 'images/faq.jpeg' %}" alt="FAQ Illustration">
    </div>
</div>
</section>