<section class="service-section">
    <div class="gif-container">
        <img src="https://i.pinimg.com/originals/50/78/a0/5078a05eb1b6847d93383eaa4c0ed500.gif" alt="Service GIF">
    </div>
    <div class="services-container">
        <div style="color:black;" class="heading">OUR SERVICES</div>
        <div class="service-list">
            <div class="service"><i class="fas fa-chalkboard-teacher"></i> <p>IT Training</p></div>
            <div class="service"><i class="fas fa-project-diagram"></i> <p>Capstone Projects</p></div>
            <div class="service"><i class="fas fa-user-tie"></i> <p>Job Assistance</p></div>
            <div class="service"><i class="fas fa-briefcase"></i> <p>Internship</p></div>
        </div>
        {% comment %} <button class="know-more">Know More</button> {% endcomment %}
    </div>
</section>