<section class="service-section">
    <div class="gif-container">
        <img src="https://i.pinimg.com/originals/50/78/a0/5078a05eb1b6847d93383eaa4c0ed500.gif" alt="Service GIF">
    </div>
    <div class="services-container">
        <div style="color:black;" class="heading">OUR SERVICES</div>
        <div class="service-list text-start">
            <ul style="list-style: none;">

                <li class="my-3"><i class="text-primary fas fa-xl me-2 fa-chalkboard-teacher"></i><span class="fw-bold"> IT Training</span></li>
                <li class="my-3"><i class="text-primary fas fa-xl me-2 fa-project-diagram"></i><span class="fw-bold"> Capstone Projects</span></li>
                <li class="my-3"><i class="text-primary fas fa-xl me-2 fa-user-tie"></i><span class="fw-bold"> Job Assistance</span></li>
                <li class="my-3"><i class="text-primary fas fa-xl me-2 fa-briefcase"></i> <span class="fw-bold">Internship</span></li>
            </ul>
        </div>
        {% comment %} <button class="know-more">Know More</button> {% endcomment %}
    </div>
</section>