
{% comment %} ...................................................................................................................... {% endcomment %}

{% load static %}
<footer class="footer">
        <div class="footer-container">
            <!-- Logo Section -->
            <div class="footer-logo">
                <img  class="logo" src="{% static 'images/zeelogo.jpg' %}" alt="Zeetech Logo">
                <p>Innovate | Inspire | Impact</p>
                
            </div>

            <!-- Address Section -->
            <div class="footer-section text-start">
                <h3><i class="fas fa-map-marker-alt"></i> Address</h3>
                <hr>
                 <p>{{footer_data.address}}</p>

                <div class="footer-section2 text-start">
                    <h3><i class="fas fa-phone-alt"></i> Contact Us</h3>
                    <p>📞 +91-22-21581400</p>
                    <p><a href="mailto:zeeshan@gmail.com"><p>📧 {{footer_data.email}}</p></a></p>
                </div>
            </div>

            <!-- Contact Section -->
            <div class="footer-section text-start">
                <div class="quick-link">
                    <h3><i class="fas fa-link"></i> Quick Links</h3>
                    <hr>
                    <ul>
                        <a style="text-decoration:none;" href="#"><li><i class="fas fa-home"></i> Home</li></a>
                        <a style="text-decoration:none;" href="{% url 'aboutus' %}"><li><i class="fas fa-info-circle"></i> About Us</li></a>
                        <a style="text-decoration:none;" href="{% url 'contactus' %}"><li><i class="fas fa-phone-alt"></i> Contact</li></a>
                        <a style="text-decoration:none;" href="{% url 'all_blog' %}"><li><i class="fas fa-blog"></i> Blog</li></a>
                    </ul>
                </div>
                
            </div>

            <!-- Services Section -->
            <div class="footer-section text-start">
                <h3><i class="fas fa-cogs"></i> Our Courses</h3>
                <hr class="line">
               <ul>
                     {% for course in all_course %}
                        <li><a style="text-decoration:none;" href="{% url 'courses' %}">{{course.course_name}}</a></li>                
                     {% endfor %}
                    </ul>
            </div>

            <!-- Social Media Section -->
            <div class="footer-section text-start">
                <h3><i class="fas fa-share-alt"></i> Follow Us</h3> 
                <hr class="line">
                <!-- <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a> -->
                <div class="social-icons">
                    <a href="{{footer_data.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{footer_data.instagram}}"><i class="fab fa-instagram"></i></a>
                    <a href="{{footer_data.whatsapp}}"><i class="fab fa-whatsapp"></i></a>
                </div>

                 <a href="{% url 'contactus' %}"><button class="inqbttn">Inquire Now</button></a>

            </div>
        </div>

        <div class="footer-bottom">
            <p class="bottom">&copy; 2025 Zeetech Academy | Designed with ❤</p>
        </div>
    </footer>
{% comment %} ......................................................................... {% endcomment %}
    {% comment %} <footer class="footer">
        <div class="footer-container"> {% endcomment %}
            <!-- Logo Section -->
            {% comment %} <div class="footer-logo">
                <img src="{% static 'images/zeetechacademylogo.jpeg' %}" alt="Zeetech Logo">
                <p>Innovate | Inspire | Impact</p>
                
            </div> {% endcomment %}


            <!-- Contact Section -->
            {% comment %} <div class="footer-section">
                <div class="quick-link">
                    <h3><i class="fas fa-link"></i> Quick Links</h3>
                    <ul>
                        <a href="#"><li><i class="fas fa-home"></i> Home</li></a>
                        <a href="#"><li><i class="fas fa-info-circle"></i> About Us</li></a>
                        <a href="#"><li><i class="fas fa-cogs"></i> Services</li></a>
                        <a href="#"><li><i class="fas fa-phone-alt"></i> Contact</li></a>
                        <a href="#"><li><i class="fas fa-blog"></i> Blog</li></a>
                    </ul>
                </div>
                
            </div> {% endcomment %}

            <!-- Services Section -->
            {% comment %} <div class="footer-section">
                <h3><i class="fas fa-cogs"></i> Our Courses</h3>
               
                    <ul>
                     {% for course in all_course %}
                        <li><a href="{% url 'courses' %}">{{course.course_name}}</a></li>                
                     {% endfor %}
                    </ul>
            </div> {% endcomment %}

            <!-- Social Media Section -->
            {% comment %} <div class="footer-section">
                <h3><i class="fas fa-share-alt"></i> Follow Us</h3> {% endcomment %}
                <!-- <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a> -->
                {% comment %} <div class="social-icons">
                    <a href="{{footer_data.facebook}}"><i class="fab fa-facebook-f"></i></a> {% endcomment %}
                    {% comment %} <a href="{{footer_data.whatsapp}}"><i class="fab fa-twitter"></i></a> {% endcomment %}
                    {% comment %} <a href="{{footer_data.whatsapp}}" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="{{footer_data.instagram}}"><i class="fab fa-instagram"></i></a>
                    
                </div>

        <a href="{% url 'contactus' %}"><button class="buttoon">Enquire Now</button></a> 

            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Zeetech Academy | Designed with ❤️</p>
        </div>
    </footer> {% endcomment %}



{% comment %} ............................................................................................................... {% endcomment %}

