{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<br>

<div class="bloglist-container">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <div class="bloglist-button-group">
        {% comment %} <a href="{% url 'all_blog' %}"><button class="bloglist-btn">All</button></a> {% endcomment %}
        <a href="{% url 'data_analyst' %}"><button class="bloglist-btn">Data Analyst</button></a>
        <a href="{% url 'data_science' %}"><button class="bloglist-btn">Data Science</button></a>
        <a href="{% url 'digital_marketing' %}"><button class="bloglist-btn">Digital Marketing</button></a>
        <a href="{% url 'python_full_stack' %}"><button class="bloglist-btn">Python Full Stack</button></a>
        <a href="{% url 'software_testing' %}"><button class="bloglist-btn">Software Testing</button></a>
        <a href="{% url 'stock_marketing' %}"><button class="bloglist-btn">Stock Marketing</button></a>
        <a href="{% url 'cloud_computing' %}"><button class="bloglist-btn">Cloud Computing</button></a> 
        <a href="{% url '360_degree' %}"><button class="bloglist-btn">360° Course</button></a> 
        <a href="{% url 'graphic_designing' %}"><button class="bloglist-btn">Graphic Designing</button></a> 
    </div>

    <div class="bloglist-box">
        <!-- Optional: Add static content or remove this section if not needed -->
    </div>
</div>
{% endblock %}