{% extends 'base.html' %}

{% comment %} {% block navbar %}
    {% include 'include/navbar.html' %}
{% endblock %} {% endcomment %}
{% load static %}
{% block content %}
<br>
<br>

<div class="bloglist-container">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <div class="bloglist-button-group">
        <a href="{% url 'all_blog' %}"><button class="bloglist-btn">All</button></a>
        {% for category in categories %}
            <a href="{% url 'all_blog' %}?category={{ category.name }}">
                <button class="bloglist-btn">{{ category.name }}</button>
            </a>
        {% endfor %}
    </div>

    <div class="bloglist-box">
        {% for blog in blogs %}
        <div class="bloglist-card">
            <a href="{% url 'blog_detail' blog.id %}">
                <div class="bloglist-image">
                    <img src="{{ blog.image.url }}" alt="Blog Image">
                </div>
            </a>
            <h3 class="bloglist-title">{{ blog.title }}</h3>
            <p class="bloglist-description">{{ blog.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
